body {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #f9f9f9;
  margin: 0;
}

.page-number {
  width: 29px;
  height: 24px;
  margin-top: 49px;
  margin-left: 630px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #1a1a1a;
}

.university-form {
  margin-top: 77px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 798px;
}

.university-input {
  box-sizing: border-box;
  width: 798px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.about-degree {
  display: flex;
  margin-left: 150px;
  width: 798px;
}

.degree-form {
  margin-top: 31px;
  flex-direction: column;
  align-items: flex-start;
  width: 371px;
  height: 0px;
}

.degree-input {
  box-sizing: border-box;
  width: 371px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 9px;
}

.degree-end-form {
  margin-top: 31px;
  margin-left: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 419px;
}

.degree-end-input {
  box-sizing: border-box;
  width: 371px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.description-education-form {
  width: 798px;
  margin-left: 150px;
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 846px;
}

.description-education-input {
  box-sizing: border-box;
  width: 798px;
  height: 179px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  resize: none;
}

.line-education {
  margin-top: 53px;
  margin-left: 150px;
  width: 798px;
  height: 0px;
  border: 1px solid #c1c1c1;
}

.more-education-btn {
  margin-left: 150px;
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 289px;
  height: 48px;

  background: #62a1eb;
  border-radius: 4px;
  border: none;
  padding-left: 21px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.buttons {
  margin-top: 214px;
  margin-left: 150px;
  display: flex;
}

.finish-btn {
  margin-left: 535px;
  padding: 14px 19.5px 14px 19.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 151px;
  height: 48px;
  background: #6b40e3;
  border-radius: 4px;
  border: none;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;

  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.dropdown-input {
  position: relative;
  display: flex;
}

.arrow {
  position: absolute;
  top: 30.87px;
  left: 341.85px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 371px;
  height: 369px;
  filter: drop-shadow(0px 16px 28px rgba(0, 0, 0, 0.24));
  border-radius: 4px;
  margin: 0px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 10px 16px;
  gap: 10px;
  width: 346px;
  height: 21px;
  background: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

.hidden {
  display: none;
}
